version: "2.4"

networks:
  default:
    external: true
    name: andrielson

services:
  mail:
    ports:
      - "8000:80"
    volumes:
      - type: bind
        source: ./templates
        target: /usr/share/nginx/html/
        read_only: true
